<template>
    <div>
        <div class="flex-row rounded-t-md border-b-1 border-b-gray-600 border-3 border-gray-500
            border-opacity-70">
            <h1 class="font-serif text-3xl font-semibold text-gray-900">The Weather Today</h1>
            <h2 class="pt-2 font-serif text-lg text-gray-800 border-t border-gray-300">{{ appDate }} &bull;
                {{ appData.name }}</h2>
            <h3 class="font-serif text-gray-800 text-md">Description: {{ appData.weather[0].description }}</h3>
            <p class="mt-1 mb-1 font-serif text-gray-800 border-t-2 border-b-2 border-gray-500 border-opacity-50 floar-left">
                Temperature:
                {{ appTemperature(this.appData.main.temp) }}°C<br>
                Humidity: {{ this.appData.main.humidity }} %</p>
            <keep-alive>
                <PickCity :cityList="cityList"
                          @cityChanged="CityChanged($event)"></PickCity>
            </keep-alive>
            <!--<p>{{ cityID }}</p>-->
        </div>
    </div>
</template>

<script>
import PickCity from "@/components/PickCity";

let date = new Date()

export default {
    props: {
        appData: {
            type: Object,
            default() {
                return {
                    weather: [{description: 'loading'}],
                    main: {
                        temp: 'loading',
                        humidity: 'loading',
                    },
                }
            },
        },
        cityList: {
            type: Array,
            default() {
                return [{
                    id: 3516507,
                    name: "Soyatitán",
                    state: "",
                    country: "MX",
                    coord: {
                        lon: -92.416672,
                        lat: 16.299999
                    },
                    link: "https://4.bp.blogspot.com/-POac24Kfgeo/WGw31v3vl1I/AAAAAAAAN6c/947XhFRUe6YyUeYAWCJmK-OSKfHXmmS6QCK4B/s1600/Soyatitan%2Bfront.jpg"
                }]
            }
        }
    },
    data() {
        return {
            appDate: `${date.getDate()}/${date.getMonth() + 1}/${date.getFullYear()}`,
        }
    },
    components: {
        PickCity
    },
    methods: {
        appTemperature(Kelvin) {
            return Math.floor(Kelvin) - 273
        },
        CityChanged(event) {
            this.$emit('cityChanged', event)
        }
    }
}


</script>

<style scoped>

</style>
