<template>
    <div class="w-2/5 bg-white rounded-lg shadow-xl">
        <div>
            <div v-if="!$fetchState.pending" class="flex flex-col flex-wrap flex-start min-w-full bg-grey-500">
                <CardInfo @cityChanged="changeWeather($event); showImage = true" :appData="appData"
                          :cityList="cityList"></CardInfo>
                <CityImage :showImage="showImage" :appWeatherObject="appWeatherObject"
                           :appData="appData"></CityImage>
            </div>
            <div v-else>
                <h1 class="font-bold">LOADING .............................</h1>
            </div>
        </div>
    </div>
</template>

<script>
import CardInfo from "@/components/CardInfo";

const cities = require('~/static/cityList.json')

export default {
    data() {
        return {
            cityList: [],
            appData: {
                weather: [{description: 'loading'}],
                main: {
                    temp: 'loading',
                    humidity: 'loading',
                },
            },
            appWeatherObject: {},
            appComing: 'Other Days',
            cityID: '3516507',
            appImage: 'https://4.bp.blogspot.com/-POac24Kfgeo/WGw31v3vl1I/AAAAAAAAN6c/947XhFRUe6YyUeYAWCJmK-OSKfHXmmS6QCK4B/s1600/Soyatitan%2Bfront.jpg',
            showImage: false,
        }
    },
    methods: {
        changeWeather(event) {
            this.appWeatherObject = event
            console.log("Weather Changed")
            console.log(this.appWeatherObject)
            this.cityID = event.id;
            this.appImage = event.link
            console.log(this.appWeatherObject)
        },
    },
    components: {
        CardInfo
    },
    async fetch() {
        console.log('starting fetch')
        console.log(this.cityID)
        this.appData = await this.$axios.$get(`https://api.openweathermap.org/data/2.5/weather?id=3516507&appid=7f4cedba20d13d292155488ee6754eb6`)
        console.log(this.appData)
        console.log('fetch finished')
    },
    mounted() {
        this.cityList = cities
    },
    watch: {
        async cityID() {
            this.appData = await this.$axios.$get(`https://api.openweathermap.org/data/2.5/weather?id=${this.cityID}&appid=7f4cedba20d13d292155488ee6754eb6`)
            console.log('Changed CityID')
        }
    },
}
</script>
