<template>
    <div class="w-full overflow-hidden">
        <div class="flex relative" v-if="showImage">
            <img :src="appWeatherObject.link" :alt="appData.name"
                 class="inset-0 object-cover rounded-b-md border-3 border-t-0 border-gray-500 border-opacity-70 m-0 w-full h-64">
        </div>
        <div class="flex" v-else>
            <img
                src="https://4.bp.blogspot.com/-POac24Kfgeo/WGw31v3vl1I/AAAAAAAAN6c/947XhFRUe6YyUeYAWCJmK-OSKfHXmmS6QCK4B/s1600/Soyatitan%2Bfront.jpg"
                alt="Soytitán"
                class="inset-0 object-cover rounded-b-md border-3 border-t-0 border-gray-500 border-opacity-70 m-0 w-full h-64">
        </div>
        <p class="invisible absolute center hover:visible">{{ appData.name }}</p>
    </div>
</template>

<script>
export default {
    props: {
        showImage: {
            type: Boolean,
            default() {
                return false
            }
        },
        appWeatherObject: {
            type: Object,
            default() {
                return {
                    link: 'https://4.bp.blogspot.com/-POac24Kfgeo/WGw31v3vl1I/AAAAAAAAN6c/947XhFRUe6YyUeYAWCJmK-OSKfHXmmS6QCK4B/s1600/Soyatitan%2Bfront.jpg'
                };
            }
        },
        appData: {
            type: Object,
            default() {
                return {
                    name: "Soytitán"
                }
            }
        }
    }
}
</script>

<style scoped>

</style>
