<template>
    <div class="bg-white w-1/2" style="height: 20rem">
        <h1 class="capitalize font-bold text-lg pt-16">The Weather Today</h1>
        <div v-show="!loging">
            <button @click="loging=!loging" class="pt-6 text-2xl">Login</button>
        </div>
        <div v-show="loging" class="justify-center h-2">
            <loginFormulary class="justify-center"></loginFormulary>
        </div>
    </div>
</template>

<script>
import LoginFormulary from "@/components/LoginFormulary";

export default {
    data() {
        return {
            loging: false
        }
    },
    name: "LoginMenu",
    components: {LoginFormulary}
}
</script>

<style scoped>

</style>
