<template>
    <div class="flex flex-col fixed w-1/6 h-32 justify-center">
        <label>Username</label>
        <input type="text" class="border-black border rounded-lg outline-none">
        <label>password</label>
        <button @click="authentication">Submit</button>
        <button v-if="clue" @click="hint=!hint">Forgot Password?</button>
        <p v-if="hint">Username: password <br> Password: username <br> You Are Welcome</p>
    </div>
</template>

<script>
export default {
    data() {
        return {
            failedAttempts: 0,
            clue: false,
            hint: false,
            loginAttempt: {
                username: '',
                password: '',
            },
            correctLoginInformation: {
                username: "password",
                password: "username",
            }
        }
    },
    name: "LoginFormulary",
    methods: {
        authentication() {
            if (this.loginAttempt.username === this.correctLoginInformation.username && this.loginAttempt.password === this.correctLoginInformation.password) {
                this.$emit('Authenticated', true)
            } else {
                alert('WRONG')
                this.failedAttempts++
                if (this.failedAttempts >= 3) {
                    this.clue = true
                }
            }
        }
    }
}
</script>

<style scoped>

</style>
