<template>
    <CardElement v-if="loggedIn"></CardElement>
    <LoginMenu v-else></LoginMenu>
</template>

<script>
import CityImage from "@/components/CityImage";
import LoginMenu from "@/components/LoginMenu";

export default {
    components: {CityImage, LoginMenu},
    data() {
        return {
            loggedIn: true
        }
    },
    name: "MainPage"
}
</script>

<style scoped>

</style>
