<template>
    <div class="w-3/5">
        <div>
            <div v-if="!$fetchState.pending" class="flex flex-col flex-wrap flex-start min-w-full">
                <div>
                    class="flex-row rounded-t-lg border-b-1 border-b-gray 600 border-2 border-gray-500 border-opacity-70">
                    <h1 class="font-bold text-3xl">The Weather Today</h1>
                    <hr>
                    <h2 class="text-2xl">{{ appDate }} - {{ appData.name }}</h2>
                    <h3 class="text-xl">Description: {{ appData.weather[0].description }}</h3>
                    <p class="mt-1 mb-1 border-t-2 border-b-2 border-gray-500 border-opacity-50">Temperature:
                        {{ appTemperature(this.appData.main.temp) }}°C<br>
                        Humidity: {{ this.appData.main.humidity }} %</p>
                    <keep-alive>
                        <PickCity :cityList="cityList"
                                  @cityChanged="changeWeather($event); showImage = true"></PickCity>
                    </keep-alive>
                    <!--<p>{{ cityID }}</p>-->
                </div>
                <div>
                    <div class="flex" v-if="showImage">
                        <img :src="appWeatherObject.link" :alt="appData.name"
                             class="inset-0 object-cover object-center min-w-full object-center rounded-b-lg border-2 border-t-0 border-gray-500 border-opacity-70 m-0 h-64">
                    </div>
                    <div class="flex" v-else>
                        <img
                            src="https://4.bp.blogspot.com/-POac24Kfgeo/WGw31v3vl1I/AAAAAAAAN6c/947XhFRUe6YyUeYAWCJmK-OSKfHXmmS6QCK4B/s1600/Soyatitan%2Bfront.jpg"
                            alt="Soytitán"
                            class="inset-0 object-cover object-center min-w-full object-center rounded-b-lg border-2 border-t-0 border-gray-500 border-opacity-70 m-0 h-64">
                    </div>
                </div>
            </div>
            <div v-else>
                <h1 class="font-bold">LOADING .............................</h1>
            </div>
        </div>
    </div>
</template>

<style>
.outerWeatherBox {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-basis: 30%;
}

.innerWeatherBox {
    padding: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: #7F828B;
    border-radius: 4%;
}

</style>

<script>
import PickCity from "@/components/PickCity";

const cities = require('~/static/cityList.json')

var date = new Date()

export default {
    data() {
        return {
            cityList: [],
            appData: {
                weather: [{description: 'loading'}],
                main: {
                    temp: 'loading',
                    humidity: 'loading',
                },
            },
            appWeatherObject: {},
            appDate: `${date.getDate()}/${date.getMonth() + 1}/${date.getFullYear()}`,
            appComing: 'Other Days',
            cityID: '3516507',
            appImage: 'https://4.bp.blogspot.com/-POac24Kfgeo/WGw31v3vl1I/AAAAAAAAN6c/947XhFRUe6YyUeYAWCJmK-OSKfHXmmS6QCK4B/s1600/Soyatitan%2Bfront.jpg',
            showImage: false,
        }
    },
    methods: {
        appTemperature(Kelvin) {
            return Math.floor(Kelvin) - 273
        },
        changeWeather(event) {
            this.appWeatherObject = event
            console.log("Weather Changed")
            console.log(this.appWeatherObject)
            this.cityID = event.id;
            this.appImage = event.link
            console.log(this.appWeatherObject)
        },
    },
    components: {
        PickCity
    },
    async fetch() {
        console.log('starting fetch')
        console.log(this.cityID)
        this.appData = await this.$axios.$get(`https://api.openweathermap.org/data/2.5/weather?id=3516507&appid=7f4cedba20d13d292155488ee6754eb6`)
        console.log(this.appData)
        console.log('fetch finished')
    },
    mounted() {
        this.cityList = cities
    },
    watch: {
        async cityID() {
            this.appData = await this.$axios.$get(`https://api.openweathermap.org/data/2.5/weather?id=${this.cityID}&appid=7f4cedba20d13d292155488ee6754eb6`)
            console.log('Changed CityID')
        }
    },
}
</script>
