<template>
    <div class="bg-grey-200 h-full items-center">
        <label :for="city"></label>
        <select id="city" v-model="theChosenCity"
                class="shadow-xl mt-0 mb-1 pb-2 pt-2 h-full bg-blue-500 rounded-full w-3/12 text-white text-center hover:bg-white hover:text-blue-500 hover:border-blue-500 hover:shadow-outline active:bg-gray-800 active:text-blue-200 focus:outline-none">
            <option :value="city" v-for="city in listOfCities" class="rounded-full">{{ city.name }}</option>
        </select>
    </div>
</template>

<script>

export default {
    props: {
        cityList: {
            type: Array,
            default() {
                return [{
                    id: '3516510',
                    name: "Soyaniquilpan",
                    state: "",
                    country: "MX",
                    coord: {
                        lon: -99.5,
                        lat: 19.98333
                    },
                    link: "https://allthecities.com/city/get-full-image?id=1054106"
                }]
            }
        }
    },
    data() {
        return {
            theChosenCity: {
                id: '3516510',
                name: "Soyaniquilpan",
                state: "",
                country: "MX",
                coord: {
                    lon: -99.5,
                    lat: 19.98333
                },
                link: "https://allthecities.com/city/get-full-image?id=1054106"
            },
            city: ''
        }
    },
    computed: {
        listOfCities() {
            return this.cityList
        }
    },
    watch: {
        theChosenCity() {
            console.log('Event Executed')
            this.$emit('cityChanged', this.theChosenCity)
        }
    }
}
</script>

<style scoped>
</style>
